# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Data Files (Generated)
# -----------------------------
data/cleaned_orders.csv

# -----------------------------
# Database Files
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Output Files (Generated)
# -----------------------------
outputs/*.json
outputs/*.csv

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Jupyter Notebook Checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDE Files
# -----------------------------
.vscode/
.idea/
extra/
CLAUDE.md
